:root {
  --color-header-borders: #f0c38f;
  --color-navbar: #8ff0a4;
  --color-text: #bbd6ff;
  --height-mini-header: 7.7rem;
}

/* -- base elements */

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid grey; */
}

article li {
  padding-top: 0.5em;
  margin-left: 36px;        /* line bullets up with above content */
  list-style: circle;
  font-size: 15px;
}

article p { padding-left: 1.5em; }

article ul:last-of-type { padding-bottom: 10px; }

html {
  background-color: #101010;
  color: var(--color-text);
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}


/* main targets */

.center { text-align: center; }

.code_block {
  white-space: pre-line;
  font-family: monospace;
  border: 1px solid var(--color-header-borders);
  padding-bottom: 1.75em;
}

.code_block p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0;
}

#main-doc {
  position: relative;       /* keep position relative to nav bar as long as min-width is met */
  margin-left: 260px;
  padding-left: 30px;
  padding-right: 30px;
}

.no-bullets li { list-style: none; }

#official-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}

#official-logo img { height: 70px; }

.section-header {
  text-align: left;
  font-size: 1.5em;
  padding-top: 10px;
  color: var(--color-header-borders);
  padding-bottom: 10px;
}


/* -- navbar */

.arrow {
  display: none;
  float: right;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  border-right: 1px solid var(--color-navbar);
  color: var(--color-navbar);
  background-color: #050505;
}

#navbar a {
  display: block;           /* ensure elements respect padding */
  padding-left: 30px;       /* add padding to text */
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--color-navbar);
  text-decoration: none;    /* remove underlines */
  cursor: pointer;          /* change cursor when hovered over */
  font-weight: 400;
}

/* add feedback on hover */
#navbar a:hover {
  color: #c3ffd0;
  font-weight: 600;
}

#navbar li {
  color: var(--color-navbar);
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar ul {
  height: 80%;              /* limit the navigation height, providing a scroll bar */
  padding: 0;               /* push elements flush to the left */
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-header {
  margin: 10px 10px 10px 10px;
  text-align: left;
  font-size: 1.5em;
  color: var(--color-header-borders)
}

.reference-link {
  text-decoration: none;
  font-weight: 700;
  color: #A9C9F9;
  transition: color 0.3s ease-in-out;
}

.reference-link:hover {
  color: var(--color-header-borders);
}


/* -- footer */

footer {
  font-weight: 300;
  padding: 2rem;
  background: black;
  border-top: 1px solid var(--color-header-borders);
  margin-left: 260px;
}

footer > p {
  color: var(--color-highlight);
  font-family: "Cambay", sans-serif;
  text-align: center;
  margin: 1rem;
}


/* -- queries */

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* requires a minimum total width; lower values will force body to clip into nav bar */
@media only screen and (max-width: 800px) {
  article li {
    font-size: 13px;
    margin: 1rem;
  }

  .arrow { display: inline; position: absolute; ; right: 1rem; }

  .code_block { font-size: 11px; }

  footer { margin-left: 0; }

  #main-doc {
    position: relative;
    margin-left: 0px;
  }

  /* account for sticky navbar, pushing links down by its height */
  .main-section, .title-section {
    padding-top: var(--height-mini-header);
    margin-top: 0;
    /* give each section a full screen height */
    min-height: calc(100vh - var(--height-mini-header));
  }

  .nav-header {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1rem;
  }

  #navbar a {
    font-size: 1.05rem;
    padding-left: 0;
  }

  #navbar li {
    text-align: center;
    line-height: 0.6rem;
    /* snap to the next entry instead of stopping in the middle */
    scroll-snap-align: start;
  }

  #navbar ul {
    /* enforce snapping during scroll */
    scroll-snap-type: y mandatory;
    height: 5.7rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #navbar ul::-webkit-scrollbar { display: none; }

  #navbar {
    position: fixed;
    width: 100%;
    height: fit-content;
    border: none;
    z-index: 1;
    border-bottom: 1px solid var(--color-header-borders);
    overflow: hidden;
  }

  .section-header { text-align: center; }

  .title-section p { padding-left: 0; }
}